<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.vph.qltb">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="B304 - Thiết bị"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:theme="@style/Theme.QuanLyThietBi">
        <activity
            android:name=".SinhVien.ChucNang.DoiMK"
            android:exported="false" />
        <activity
            android:name=".SinhVien.ChucNang.ChinhSuaHS"
            android:exported="false" />
        <activity
            android:name=".SinhVien.DanhSach.HoSoSV"
            android:exported="false" />
        <activity
            android:name=".SinhVien.ChucNang.PhieuDangKy_Bundle"
            android:exported="false" />
        <activity
            android:name=".ThietBi.UpdateTB"
            android:exported="true" />
        <activity
            android:name=".ThietBi.ZoomActivity"
            android:exported="true"
            android:label=""
            android:theme="@style/Theme.AppCompat.Dialog" />
        <activity
            android:name=".Login.ScanHelper"
            android:exported="true" />
        <activity
            android:name=".Login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ThietBi.ThietBi"
            android:exported="true" />
        <activity
            android:name=".ThietBi.ThemTB"
            android:exported="true" />
        <activity
            android:name=".Menu.MenuLoginMSSV"
            android:label=""
            android:exported="true" />
        <activity
            android:name=".Menu.MenuLoginScan"
            android:label=""
            android:exported="true" />
        <activity
            android:name=".SinhVien.ChucNang.PhieuDangKy"
            android:exported="true" />
        <activity
            android:name=".SinhVien.DanhSach.DsDangKy"
            android:exported="true" />
        <activity
            android:name=".SinhVien.DanhSach.DsMuon"
            android:exported="true" />
    </application>

</manifest>